/*details for the first page and main set up goes here*/
body{
    background-image: url("../images/dust_scratches.png");
    width: 100%;
}

.main-header{
    background-color: #ffffff;
    color: #777777;
    border-bottom: 1px solid; 

    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 68px;
    position: relative;
    top: -10px;
}


h1{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    font-size: 24px;
    width: 30%;
    text-align: center;
    float: left;
    position: relative;
    left: 160px;
    top: -15.5px;
}

h2{
    position: relative;
    top: 15px;
    right: 370px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    float: right;
}

h3{
    position: relative;
    top: 12.5px;
    right: 200px; 
    padding: 10px;
    text-align: center;
    font-size: 12px;
    float: right;
}

h4{
    position: relative;
    top: 8.5px;
    right: 20px; 
    padding: 10px;
    text-align: center;
    font-size: 12px;
    float: right;
}

h5{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 1px solid;
    border-color: #cccccc;
    font-size: 24px;
    padding-left: 20px;
    float: left;
    width: 100%;
    margin: 0;

}

#bio-image{
    width: 220px;
    float: left;
    padding: 20px;
}

p{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 25px;
}

#first{ 
    padding-top: 70px;
}   

.main{
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dddddd;
    color: #777777;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.footer{
    background-color: #666666;
    color: #cccccc;
    border-top: 4px solid;
    border-color: #4aaaa5;
    position: fixed;
    width: 100%; 
    bottom: 0px;
    height: 40px;
}

h6{
    text-align: center;
}

/*details for the contact page start here*/

input[type="text"]{
    width: 100%;
    height: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 5px;
}

input[type="email"]{
    width: 100%;
    height: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 5px;
}
.submissionform{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 30px;}

    input[type="submit"]{
        background-color: #4aaaa5;
        color: #ffffff;
    padding: 10px;
    width: 100px;
    border: none;
    }

/*details for the portfolio page start here*/

.images{
    padding-left: 20px;
    padding-top: 200px;
}




